.my-img{
    background-position: center;
    background-size: cover;
    
}
.body{
    background: black;
}
.text {
   text-align: center;
}
.px-6
 {
    padding-inline: calc(var(--spacing) * 15);
}

.text-black {
    color: red;
}
.px-6
 {
    padding-inline: calc(var(--spacing) * 2);
 }
 